body , html{
    height: 100%;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.bg-image{
    position: relative;
    background-image: url(../BA-M2.0/img/fondo.png);
    height:100%;
    background-size: cover;
}
.contenedorPresentacion{
    position: absolute;
    width: 370px;
    background-color:rgba(150, 194, 220,70%);
    border-radius: 15px;
    padding: 10px;
    left: 10px;
    top: 50px;
}
.contenedorFormulario{
    position: absolute;
    background-color:rgba(150, 194, 220,50%);
    border-radius: 15px;
    padding: 10px;
    right: 10px;
    top: 100px;
}
.contenedorVideo{
    position: absolute;
    background-color:rgba(150, 194, 220,50%);
    border-radius: 10px;
    padding: 10px;
    left: 10px;
    bottom: 25px;
}
.contenedorLista{
    position: absolute;
    background-color:rgba(150, 194, 220,65%);
    border-radius: 15px;
    padding: 10px;
    right: 50px;
    bottom: 50px;
}
.titulo{
    color: aliceblue;
    text-align: center;
}
.form{
    background-color: rgba(150, 194, 220,50%);
    padding: 10px;
    border-radius: 5px;
}
